*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    scrollbar-width: none;
}

.navbar{
    background-color: #0F1111;
    height: 60px;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navlogo{
    width: 113px;
    height: 50px;
}
.logo{
    
    background-image: url('imgs/amazon_logo.png');
    background-size: cover;
    width: 113px;
    height: 50px; 
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.location{
    width: 88px;
}
.loc1{
    font-size: .7rem;
    padding-left: 15px;
    color: #cccccc;

}
.log2{
    font-size: 1.2rem;
    width:40 ;
    display: flex;
    
}
.ind{
    margin-left: 5px;
}
.searhbar{
    
    height: 40px;
    width: 600px;
    display: flex;
    border-radius: 4px;
    /* background-color: blue; */
}
.Allsec{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 52px;
    height: 40px;

}
.Searchinp{
    height: 38px;
    width: 100%;
    border: none;
}
#logSearch{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 	#ff9900;
}
.signin{
    width: 131px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.return{
    width: 76px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.light{
    color: #cccccc;
    font-size: .8rem;
}
.Dark{
    font-size: 1rem;
}
.cart{
    width: 59px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cart i{
    font-size: 30px;
}
.cart div{
    font-size: 20px;
}
.pannal{
    background-color: #232F3E;
    color: white;
    width: 100vw;
    height: 39px;
    display: flex;

    
}

.pannal-all{
    display: flex;
    height: 39px;
    width: 58px;
    justify-content:space-evenly;
    align-items: center;

}
.pannal-all i{
    font-size: 20px;
}
.pannal-opt{
    display: flex;
    align-items: center;
    width: 100%;
}
.pannal-opt p{
    margin-left: 10px;
    font-size: .9rem;
}

.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgpic{
    background-image: url(./imgs/hero_image.jpg);
    background-size: cover;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
   
}
.amazonin{
    background-color: white;
    font-size: .85rem;
    width: 90vw;
    height: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
.amazonin a{
   color: #007185 ;
   text-decoration: none;
}
.seelingbox{
    width: 100vw;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cce3e7;

}
.box{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 400px;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    margin: 2vw;
    background-color: white;
}
/* .box h2{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 300px;
    border: 2px solid red;
    justify-content: space-evenly;
} */
.box img{
   height: 80%;
   margin: 1rem;
   font-size: 8rem;
}
.boxhead{
   text-align: center;
   margin-top: 1rem;
 }
 .box p{
    margin-left: 1rem;
    margin-bottom: 1rem;
    color:#007185 ;

  }
  .siginopt{
    width: 100vw;
    height: 170px;
    background-color: white;  
    display: flex;
    justify-content: center; 
  }
  .bordersign{
    border: .001rem solid rgb(163, 163, 163);
    border-radius: 10px;
    /* margin: 5vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    min-height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .see{
    font-size: .9rem;
    margin-bottom: 4px;
  }
  .but{
    width: 40vw;
    height: 30px;
    background-color:	#ff9900 ;
    font-size: .8rem;
    font-weight: bold;
    border: .5px solid 	#ffa318;
    border-radius: 7px;
  }
  .starther{
    font-size: .9rem;
    margin-top: 4px;
    
  }
  .starther a{
    text-decoration: none;
    color: #007185;
  }
  .backtotop{
    color: white;
    background-color:#2a3e57 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 49px;
    text-decoration: none;
  }
  .ffot{
    background-color:#232F3E ;
  }
  .instialfoot{
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 8vw;
    margin-right: 8vw;

  }
  .rows{
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
    padding: 10px;
    width: 22vw;
  }
  .heading{
        font-size: 1rem;
        margin-top: 2vh;
        margin-bottom: 2vh;
  }
  .rows a{
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: .7rem;
    margin: 2px;
  }
  .rows a:hover{
    text-decoration: underline;
    
  }

  .copyright{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .top{
    display: flex;
    font-size:.6rem ;
    text-align: center;
  }
  .top p{
    margin: 6px;
  }
  .bottom{
    font-size:.6rem ;
    text-align: center;
    margin-bottom: 2vh;
  }